*
*.hero{
    position: relative;
    width: 100%;
    height: 100vh;
   

}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: none;

}
nav ul li a:hover{
    color: red;
}
.logoimage{
    width: 150px;
   
}
content{
    text-align: center;
    position: centre;
}
.content p{
    align-items: centre;
   
    color: white;
    text-align: center;
    margin: 30px 0;


}
.container{
   max-width: 850px;
   margin: auto;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10%;
   margin-bottom: 20%;
   background-image: url(./assets/lastpic.jpeg) ;
   padding: 80px;

   
}
.container p{
    color:white;
    font-weight: bold;
    font-size: large;
    font: italic small-caps bold 16px/2 cursive;
    background-color: transparent;
    background-color: black;
    border-style: solid ;
    border-color: white;
    padding: 30px;
    max-width: 600px;

}
.container p:hover{
    color: rgba(16, 207, 245, 0.941);
}
.downbar{
    background-color: aqua;
}
.footer1{
    padding: 40px;
    margin: 50px;
    position: centre;
    margin-top: 50px;
    text-align: center;
    

}
.footer1 img{
    padding: 20px;
    margin: 20px;
    max-width: 100px;
}




